<!DOCTYPE html>
<!--[if lte IE 8 ]> <html class="ie" lang="en"> <![endif]-->
<!--[if IE 9 ]> <html class="ie ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
<meta charset="utf-8" />
<title>CAMP</title>
<link rel="shortcut icon" href="images/icons/allstate-mobile-logo.png" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>
  <div class="login-page">

<div class="form">
  <h1 id="head"> Agents Login </h1>
  <form class="login-form" method="POST" action="/agents">
    <input type="text" placeholder="username" name="user" />
    <input type="password" placeholder="password" name="pass" />
    <button type="submit"  value="Submit">login</button>
    <p class="message"><a href="#">Forgot password ?</a></p>
  </form>
</div>
</div>
</body>
</html>
